<%= form_tag("/articles", method: "get") do %>
  <h2>Filters:</h2> 
  <p>
    <%= label_tag(:topic, "Topic:") %>
    <%= select_tag :topic, options_for_select(@topics.unshift(['All','']), '') %>
  </p>
  <p>
    <%= label_tag(:end_date, "Previous version before:") %>
    <%= select_datetime Date.today, prefix: :end_date %>
  </p>
  <p>
    <%= label_tag(:start_date, "Previous version after:") %>
    <%= select_datetime Date.today, prefix: :start_date %>
  </p>
  <p>
    <%= label_tag(:user_id, "Author:") %>
    <%= select_tag :user_id, options_for_select(@users.unshift(['All','']), '') %>
  </p>
  <%= submit_tag("Apply") %>
<% end %>
<br/>


